
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div>訂單編號</div>
        <div>@Html.TextBox("txtOrderId")</div>
<table>
    <tr>
        <td>客戶代號</td>
        <td>客戶名稱</td>
    </tr>
    @foreach (var item in (List<mvc.Models.Order>)ViewBag.Data)
    {
        <tr>            
            <td>@item.CustId</td>
            <td>@item.CustName</td>            
        </tr>
    }
    

</table>
        <table>
            <tr>
                <td>訂單編號</td><td>客戶名稱</td><td>訂購日期</td><td>發貨日期</td>
            </tr>
            <tr>
                <td>@ViewBag.getOrderById.OrderId</td>
                <td>@ViewBag.getOrderById.CompanyName</td>
                <td>@ViewBag.getOrderById.OrderDate</td>
                <td>@ViewBag.getOrderById.ShippedDate</td>
            </tr>

        </table>
    </div>
</body>
</html>
